@use "./variables" as *;
@use "./mixins" as *;
@use "sass:list";
@use "sass:string";
@use "sass:map";
@use "sass:meta";

@mixin rankingBackground($gradient, $bg-color) {
  background: $gradient;
  background-origin: border-box;
  background-clip: border-box;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid transparent;
    background: $bg-color border-box;
    mask: linear-gradient(#000 0 0) padding-box,
    linear-gradient(#000 0 0);
    mask-composite: exclude;
    border-radius: 1px;
  }
}

@function apply-alpha($colors, $alpha) {
  $result: null;
  @each $item in $colors {
    @if meta.type-of($item) == 'list' {
      $hex: list.nth($item, 1);
      $stop: list.nth($item, 2);
      $result: list.append($result, string.unquote($hex + $alpha + " " + $stop), $separator: comma);
    } @else {
      $result: list.append($result, string.unquote($item + $alpha), $separator: comma);
    }
  }
  @return $result;
}

$palettes: (
        "purple": (
                angle: 90deg,
                colors: (#7345C4, #3F1EB7),
        ),
        "sunset": (
                angle: 90deg,
                colors: (#FD5949, #D6249F, #285AEB),
        ),
        "sunrise": (
                angle: 90deg,
                colors: (#FCB045, #FD1D1D, #833AB4),
        ),
        "cloud": (
                angle: 90deg,
                colors: (#94BBE9, #EEAECA),
        ),
        "botanical_garden": (
                angle: 120deg,
                colors: (#3E805B 15%, #AAD47B, #F9FFA1, #e66c97, #ba4fc2 85%),
        ),
        "silver": (
                angle: 205deg,
                colors: (#d9d9d9, #ADBBC3, #656C70),
        ),
        "rainbow": (
                angle: 90deg,
                colors: (#b547c6 15%, #FF6355, #FBA949, #FAE442, #8BD448, #2AA8F2 85%),
        ),
);

@each $name, $palette in $palettes {
  .ranking-background--#{$name} {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    $bg: linear-gradient(map.get($palette, angle), apply-alpha(map.get($palette, colors), "40"));
    $border: linear-gradient(map.get($palette, angle), apply-alpha(map.get($palette, colors), "80"));
    @include rankingBackground($bg, $border);
  }

  .profile-background--#{$name} {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    $bg: linear-gradient(map.get($palette, angle), apply-alpha(map.get($palette, colors), "20"));
    $border: linear-gradient(map.get($palette, angle), map.get($palette, colors));
    @include rankingBackground($bg, $border);

    &:after {
      border-radius: $radius-md;
    }
  }
}

.ranking-background--frutigerAero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  $bg: radial-gradient(rgba(255, 255, 255, 0.4) 63%, rgba(255, 255, 255, 0) 69%),
  linear-gradient(205deg, #edb75340, #EDDD5340, #57C78540, #15a7e040, #15a7e040);
  $border: radial-gradient(rgba(255, 255, 255, 0.4) 63%, rgba(255, 255, 255, 0) 69%),
  linear-gradient(205deg, #edb75380, #EDDD5380, #57C78580, #15a7e080, #15a7e080);
  @include rankingBackground($bg, $border);
}

.profile-background--frutigerAero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  $bg: radial-gradient(rgba(255, 255, 255, 0.4) 63%, rgba(255, 255, 255, 0) 69%),
  linear-gradient(205deg, #edb75320, #EDDD5320, #57C78520, #15a7e020, #15a7e020);
  $border: radial-gradient(rgba(255, 255, 255, 0.4) 63%, rgba(255, 255, 255, 0) 69%),
  linear-gradient(205deg, #edb753, #EDDD53, #57C785, #15a7e0, #15a7e0);
  @include rankingBackground($bg, $border);
}